
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div class="alert alert-danger alert-dismissible fade show" style="text-align: center;" role="alert">
    <strong>Uwaga!</strong> Nikt nawet Administrator nie poprosi Cię o hasło i email.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="col-12 row">
    <form>
            <p>Wybierz użytkownika</p>
            <select class="form-control" name="rola">
                <option>Klient</option>
                <option>Dostawca</option>
                <option>Restauracja</option>
            </select>
            <br />
            <div class="form-group">
                <label for="Email">Adres Email</label>
                <input type="email" class="form-control" name="email" aria-describedby="podpowiedzEmail" placeholder="Wpisz Email">
                <small id="podpowiedzEmail" class="form-text text-muted">W powyższym polu wpisujesz swój adres email.</small>
            </div>
            <div class="form-group">
                <label for="Haslo">Hasło</label>
                <input type="password" class="form-control" name="haslo" placeholder="Wpisz hasło">
            </div>
            <a href="dolacz-do-nas"><medium id="rejestracja" class="form-text text-muted">Zarejestruj się</small></a>
            <a href="przypomnij"><medium id="zapomniane_haslo" class="form-text text-muted">Zapomniałem Hasło</small></a>
            <br />
            <button type="submit" class="btn btn-dark">Zaloguj</button>
        </form>
    </div>
    <div class="col-4">
    </div>
